<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:security="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<import resource="classpath*:database-spring.xml" />

	<security:http pattern="**/css/**" security="none" />
	<security:http pattern="**/js/**" security="none" />
	<security:http pattern="**/loginpage.html" security="none" />
	<security:http pattern="**/img/**" security="none" />
	<!-- <security:http pattern="/rs/**" security="none" /> -->
	
	<security:http pattern="/rs/**">
		<security:intercept-url pattern="/rs/**" access="hasAuthority('ROBOT')"/> 
		<security:http-basic/>
	</security:http>

	<security:http use-expressions="true">
	
		<security:intercept-url pattern="/secure/**" access="isAuthenticated()" />

		<security:intercept-url pattern="/page.htm" access="isAuthenticated()" />
		
		<security:intercept-url pattern="/getlinesfromfile.htm" access="isAuthenticated()" />
		
		<security:intercept-url pattern="/labels.htm" access="isAuthenticated()" />

		<security:intercept-url pattern="/next.htm" access="isAuthenticated()" />

		<security:intercept-url pattern="/search.htm" access="isAuthenticated()" />

		<security:intercept-url pattern="/res/htm/**" access="isAuthenticated()" />

		<security:intercept-url pattern="/admin/*.jsp" access="isAuthenticated()" />

		<security:intercept-url pattern="/admin/views/*.jsp" access="isAuthenticated()" />

		<security:form-login login-page="/login.htm" authentication-failure-url="/login.htm?login_error=1" default-target-url="/application.htm" />

		<security:csrf disabled="true" />

		<security:logout logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID" logout-success-url="/login.htm?login_error=2" invalidate-session="false"/>

		<security:session-management invalid-session-url="/login.htm?login_error=3" session-fixation-protection="migrateSession">
			<security:concurrency-control max-sessions="1" expired-url="/login.htm?login_error=5"/>
		</security:session-management>

	</security:http>


	<bean id="dbAuthentication" class="com.security.common.DbAuthenticationService">
		<property name="dao" ref="Dao" />
	</bean>

	<bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="dbAuthentication" />
	</bean>


	<security:authentication-manager>
		<security:authentication-provider user-service-ref="dbAuthentication" />
	</security:authentication-manager>
</beans>