/*============================================ Wrapper Content Styles  =================================================*/
/* .wrapper { margin:0 auto; width:100% ;height:30px;} */
.header {
	background: #666769;
	position: fixed;
	top: 0px;
	left: 0px;
	float: left;
	width: 100%;
	min-height: 32px;
	max-height: 32px;
	outline: #272929 solid 1px;
	z-index: 100;
}

*:first-child+html ul.menu {
	float: right;
	display: inline-block;
}

.menu {
	float: left;
	display: inline-block;
	margin: 3px 0 3px 0;
	font-size: 12px;
	font-stretch: semi-expanded;
	font-family: sans-serif;
}
/*menu css
  ------------*/
#nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nav li {
	float: left;
	display: block;
	position: relative;
	z-index: 500;
	margin: 0 2px;
	padding: 0 12px;
}

#nav li a {
	display: block;
	padding: 4px 5px 0 5px;
	font-weight: bold;
	height: 20px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

#nav li a:hover {
	color: #00D6FC;
}

#nav a.selected {
	color: #00D6FC;
}

#nav ul {
	position: absolute;
	left: 0;
	display: none;
	margin: 0 0 0 -1px;
	padding: 0;
	list-style: none;
}

#nav ul li {
	width: 100px;
	float: left;
	border-top: 1px solid #DF4804;
	background-color: #666
}

#nav ul a {
	display: block;
	height: 15px;
	padding: 8px 2px;
	color: #CCC;
}

#nav ul a:hover {
	width: 100px;
	float: left;
	border-top: 0px solid #fff;
	background-color: #666;
}

#nav li.disabled, #nav li.disabled a:hover, #nav li.disabled ul li, #nav li.disabled ul li a,
	#nav li.disabled ul li a:hover {
	background-color: #999;
	text-decoration: none;
	color: #CCC;
	cursor: default
}

span.helpButton a {
	float: left;
	background: #ebebeb url(../images/block_sprite.png) left -225px
		no-repeat;
	height: 24px;
	width: 23px;
	margin: 10px 0 0 10px;
}

.resultCount {
	border-bottom: 1px solid #c74321;
	color: #666666;
	font-size: 11px;
	line-height: 22px;
	padding-left: 60px
}

ul.searchResultDetails {
	padding: 10px 0 0 60px;
	width: 60%
}

ul.searchResultDetails li {
	display: block;
	margin-bottom: 12px;
}

ul.searchResultDetails li h1 a {
	font-size: 12px;
	color: #c74321;
	font-weight: bold;
	line-height: 26px;
}

ul.searchResultDetails li h2 a {
	font-size: 12px;
	color: #009933;
	text-decoration: none;
	line-height: 20px;
}

div.mainContentArea {
	padding: 10px 0 0 60px;
	width: 70%;
}